/* LESS Document  */

@import (inline) 'frameworks/PhotoSwipe/dist/photoswipe.css';
@import (inline) 'frameworks/PhotoSwipe/dist/default-skin/default-skin.css';

#debug {
	position: absolute;
	right: 0px;
	bottom: 20px;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	padding: 10px;
}


span.thumbnail { margin: 0 12px 12px 0; cursor: pointer; }
span.thumbnail img { width: 80px; height: 80px; }





